<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		">
	
	<context:component-scan base-package="owner.exercise.mybatis" />
	
	<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:4303/practicedb"/>
        <property name="username" value="practice"/>
        <property name="password" value="practice123"/>
    </bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	<property name="configLocation" value="src.main.resources.MyBatisConfig.xml"/>
	</bean>
 -->

	<!--  java bean validation
	https://docs.spring.io/spring-framework/reference/core/validation/beanvalidation.html#validation-beanvalidation-spring-method
	 -->
	<!-- 這邊目前沒有設定 -->
	
	<!-- 啟用 Spring MVC 配置 -->
    <mvc:annotation-driven/>
    <!-- https://docs.spring.io/spring-framework/reference/web/webmvc/mvc-config/validation.html -->
    <!--  <mvc:annotation-driven validator="globalValidator"/>  -->

<!-- Interceptor
	https://docs.spring.io/spring-framework/reference/web/webmvc/mvc-config/interceptors.html 
-->	

	<mvc:interceptors>
		<!-- 此bean攔截器註冊到全局容器, 為單例-->
		<!-- LocaleChangeInterceptor 內建處理語言 -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
		<!-- 設定局部性攔截器 -->
		<mvc:interceptor>
			<!-- 作用路徑 -->
			<mvc:mapping path="/**"/>
			<!-- 排除作用下的某些路徑 -->
			<!-- 
			<mvc:exclude-mapping path="/admin/**"/>
			-->
			<!-- ThemeChangeInterceptor 內建的 -->
			<bean class="org.springframework.web.servlet.theme.ThemeChangeInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/helloController/**" />
			<bean class="owner.exercise.interceptor.HelloInterceptorA" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/helloController/**" />
			<bean class="owner.exercise.interceptor.HelloInterceptorB" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>